* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

:root {
  --blue-700: #1467e1;
  --blue-500: #369fff;
  --blue-200: #bce5ff;
  --blue-100: #eef8ff;

  --white: #fbfbfb;
  --gray: #eeeeee;
  --dark-gray: #ededed;
  --gold: #ce9a60;
  --brown: #433737;

  --red: #cf3333;
  --green: #67bf2b;
}
